body{
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100vh;
    justify-content: center;
    align-items: center;
}
.largebox{
    width:400px;
    height:400px;
    background-color: white;
    /* border: 2px black solid; */
    position: relative;
}

.long{
    width: 150px;
    height:200px;
    position: absolute;
    border: 4px white solid;
    PADDING:10PX;

}
.long:first-child{
    position: absolute;
    top: 0;
    left: 0;
    background-color: tomato;
}
.long:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    background-color: teal;
}
.long:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: burlywood;
}
.long:last-child{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: thistle;
}
.inform{
    background-color: white;
    height: 50px;
    margin-top:20px;
}